
<div class="card">
    <div class="card-title mb-3">
        <h5>Datos de tu perfil</h5>
    </div>
    <div class="card-body">
        <div class="form">

            <div class="from-group mb-3">
                <label for="">Name</label>
                <label class="form-control" for="">{{user.name}}</label>
            </div>
            <div class="form-group mb-3">
                <label for="">Last name</label>
                <label class="form-control" for="">{{user.lastname}}</label>
            </div>
            <div class="form-group mb-3">
                <label for="">Email</label>
                <label class="form-control" for="">{{user.email}}</label>
            </div>
            <div class="form-group mb-3">
                <label for="">Age</label>
                <label class="form-control" for="">{{user.age}}</label>
            </div>
        </div>
    </div>
</div>
