<!-- crear listado de contacto -->
<footer>
  <div class="footer-container">
    <div class="contCreadoras">
      <ul>
        <p>Síguenos:</p>
        <li class="vane">Vanessa</li>
        <i class="fab fa-twitter-square"></i>
        |
        <i class="fab fa-github-square"></i>
        |
        <i class="fab fa-linkedin"></i>
       
       
      </ul>
    </div>

    <!--Copyrigth más la fecha y hora actual-->
    <div class="Copyright">
      <p>Copyright Smells © {{ fecha | date : "yyyy" }}</p>

      <nav class="fechaFooter">
        <p>{{ fecha | date : "fullDate" }}</p>
      </nav>
    </div>
  </div>
</footer>