<br/>
<form class="container">
  
        <label for="email">email</label>
        <input [(ngModel)]="email" class="form-control" type="email" placeholder="email" name="email">
 

        <label for="email">password</label>
        <input [(ngModel)]="pwd" class="form-control" type="password" placeholder="password" name="password">

    <br/>
    <input type="submit" name="enviar" value="get in"/>
</form>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
