<form class="px-4 py-4">
    <div class="from-group mb-3">
        <label for="email">email</label>
        <input [(ngModel)]="email" class="form-control" type="email" placeholder="email" name="email">
    </div>
    <div class="from-group mb-3">
        <label for="email">password</label>
        <input [(ngModel)]="pwd" class="form-control" type="password" placeholder="password" name="password">
    </div>
    <br/>
    <button (click)="login()" class="btn btn-success">
        Get in
    </button>
</form>