<br/>
<form class="px4 py-4">
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input [(ngModel)]="email" class="form-control" type="email" placeholder="email" name="email">
    </div>
    <div class="form-group mb-3">
        <label for="email">Password</label>
        <input [(ngModel)]="pwd" class="form-control" type="password" placeholder="password" name="password">
    </div>
    <div class="form-group mb-3">
        <label for="email">Firstname</label>
        <input [(ngModel)]="firstname" class="form-control" type="text" placeholder="firstname" name="firstname">
    </div>
        <div class="form-group mb-3">
        <label for="email">Lastname</label>
        <input [(ngModel)]="lastname" class="form-control" type="text" placeholder="lastname" name="lastname">
    </div>
        <div class="form-group mb-3">
        <label for="email">Age</label>
        <input [(ngModel)]="age" class="form-control" type="number" placeholder="age" name="age">
    </div>
        <div class="form-group mb-3">
        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" for="mensaje" placeholder="describe brevemente en menos de 300 carácteres" maxlength="300"></textarea>
    </div>
        <button (click)="register()">
                Regístrate
        </button>
</form>




<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
