<br/>
<form class="container">
    
        <label for="email">Email</label>
        <input [(ngModel)]="email" class="form-control" type="email" placeholder="email" name="email">
    
        <label for="email">Password</label>
        <input [(ngModel)]="pwd" class="form-control" type="password" placeholder="password" name="password">
    
        <label for="email">Firstname</label>
        <input [(ngModel)]="firstname" class="form-control" type="text" placeholder="firstname" name="firstname">
    
   
        <label for="email">Lastname</label>
        <input [(ngModel)]="lastname" class="form-control" type="text" placeholder="lastname" name="lastname">
    
 
        <label for="email">Age</label>
        <input [(ngModel)]="age" class="form-control" type="number" placeholder="age" name="age">

        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" for="mensaje" placeholder="describe brevemente en menos de 300 carácteres" maxlength="300"></textarea>
        
        <input type="submit" name="enviar" value="enviar datos"/>
   
</form>




<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
