<form class="px-4 py-4">
    <div class="from-group mb-3">
        <label for="email">email</label>
        <input [(ngModel)]="email" class="form-control" type="email" placeholder="email" name="email">
    </div>
    <div class="from-group mb-3">
        <label for="email">password</label>
        <input [(ngModel)]="pwd" class="form-control" type="password" placeholder="password" name="password">
    </div>
    <div class="from-group mb-3">
        <label for="email">firstname</label>
        <input [(ngModel)]="firstname" class="form-control" type="text" placeholder="firstname" name="firstname">
    </div>
    <div class="from-group mb-3">
        <label for="email">lastname</label>
        <input [(ngModel)]="lastname" class="form-control" type="text" placeholder="lastname" name="lastname">
    </div>
    <div class="from-group mb-3">
        <label for="email">age</label>
        <input [(ngModel)]="age" class="form-control" type="number" placeholder="age" name="age">
    </div>
    <br/>
    <button (click)="register()" class="btn btn-success">
        Register
    </button>
</form>