<header>
  <div class="header-container">
    <div class="logo">
      <h1>Smells</h1>
    </div>
    <nav class="menu-container">
      <div class="menu-button">
        <a routerLink="/">
          <i class="fas fa-home"></i>
          Home</a
        >|
      </div>
      <div class="menu-button">
        <a routerLink="/productos">
          <i class="fas fa-gifts"></i>
          Fragances
        </a>|
      </div>
      <div class="menu-button">
        <a routerLink="/gestion">
          <i class="fas fa-edit"></i>
          Management</a
        >|
      </div>
      <div class="menu-button">
        <a routerLink="/profile">
          <i class="fas fa-edit"></i>
          Profile</a
        >|
      </div>
      <div class="menu-button">
        <a *ngIf="!user" routerLink="/login">
          <i class="fas fa-edit"></i>
          Login</a
        >|
      </div>
      <div class="menu-button">
        <a *ngIf="!user" routerLink="/register">
          <i class="fas fa-edit"></i>
          Register</a
        >|
      </div>
      <div class="menu-button">
        <a routerLink="/logout">
          <i class="fas fa-edit"></i>
          Logout</a
        >|
      </div>
    </nav>
  </div>
</header>
